@import url("fonts.css");

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
   background: url(../img/bg.jpg) no-repeat !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color:white !important;
  font-family: 'opensans', sans-serif;
  height: 100% !important;
}

p{
    font-family: 'opensans', sans-serif;
    margin-bottom: 5px !important;
}

a{
    color:white !important;
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
    color:white !important;
}

.logo-wrapper{
    height: 10em;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.limit-size{
    width: 250px !important;
    margin: 0px auto;
    font-family: 'opensans', sans-serif;
}

.submit-green {
    background: #8cd600 !important;
    border: 0px !important;
    color: white !important;
    font-size: 24px !important;
    text-shadow: 1px 1px 0px #4c7400;
    line-height: 0px !important;
    font-family: "Oswald",sans-serif;
}

.forgot-wrapper{
    margin-top: 100px;
    text-align: center;
}

.forgot-wrapper a{
    color:white;
    text-decoration: underline;
    font-family: 'opensans', sans-serif;
    font-size: 14px;
}

.css-left-nav {
    text-align: left;
}

.css-right-nav{
    text-align: right;
}

.row.addBorder {
    border-bottom: 2px solid #102a3c;
    padding: 10px;
}
.row.bothBorder {
    border-top: 2px solid #35607a;
    border-bottom: 2px solid #102a3c;
    padding: 10px;
}
.row.panelbothBorder {
    cursor: pointer;
    border-top: 2px solid #35607a;
    border-bottom: 3px solid #040f15;
    padding: 10px;
    width: 315px;
}
.css-center {
    text-align: center;
}
.css-center h3{
    margin: 4px;
    font-family: "Oswald",sans-serif;
    
}
.css-center-panel {
    text-align: center;
}
.css-center-panel h3{
    margin: 4px;
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    font-size: 18px;
    
}
.preloader-wrapper {
    background: #091827;
    height: 13px;
    width: 100%;
    border: 1px solid #0ab9a7;
}

.preloader-wrapper .preloader{
    background: #0ab9a7;
    width:80px;
    height: 100%;
}

.btn-start {
    background: #0ab9a7;
    color: #193654;
    border: 0px;
    padding: 4px 0;
    width:100%;
    margin-top: 5px;
    border-radius: 3px;
    font-family: 'opensans', sans-serif;
}

.btn-download {
    background: #2ce6f7;
    color: #193654;
    border: 0px;
    padding: 4px 0;
    width:100%;
    margin-top: 5px;
    border-radius: 3px;
    font-family: 'opensans', sans-serif;
}

.btn-answer {
    background: #2ce6f7;
    color: #193654;
    border: 0px;
    padding: 4px 0;
    width:100%;
    margin-top: 5px;
    border-radius: 5px;
    font-family: 'opensans', sans-serif;
}
.btn-disabled {opacity:0.5);}

p.challenges{
    margin: 0px !important;
}

#mobile-nav-left{
    display: block;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 300px;
    left: 0;
    -webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
    box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
    
    -webkit-transform: translate3d(-300px, 0px, 0px);
    -moz-transform:    translate3d(-300px, 0px, 0px);
    -ms-transform:     translate3d(-300px, 0px, 0px);
    -o-transform:      translate3d(-300px, 0px, 0px);
    transform:         translate3d(-300px, 0px, 0px);
    
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-duration: 300ms;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
    
}

#mobile-nav-right{
    display: block;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 300px;
    right: 0;
    -webkit-box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
    box-shadow: inset 5px 0 5px rgba(0,0,0,.15);
    
    -webkit-transform: translate3d(300px, 0px, 0px);
    -moz-transform:    translate3d(300px, 0px, 0px);
    -ms-transform:     translate3d(300px, 0px, 0px);
    -o-transform:      translate3d(300px, 0px, 0px);
    transform:         translate3d(300px, 0px, 0px);
    
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-duration: 300ms;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
    
}

#mobile-nav-left.onleft{
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform:    translate3d(0px, 0px, 0px);
    -ms-transform:     translate3d(0px, 0px, 0px);
    -o-transform:      translate3d(0px, 0px, 0px);
    transform:         translate3d(0px, 0px, 0px);
}

#mobile-nav-right.onright{
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform:    translate3d(0px, 0px, 0px);
    -ms-transform:     translate3d(0px, 0px, 0px);
    -o-transform:      translate3d(0px, 0px, 0px);
    transform:         translate3d(0px, 0px, 0px);
}

.container.onleft {
    -webkit-transform: translate3d(300px, 0px, 0px);
    -moz-transform: translate3d(300px, 0px, 0px);
    -ms-transform: translate3d(300px, 0px, 0px);
    -o-transform: translate3d(300px, 0px, 0px);
    transform: translate3d(300px, 0px, 0px);
}

.container.onright {
    -webkit-transform: translate3d(-300px, 0px, 0px);
    -moz-transform: translate3d(-300px, 0px, 0px);
    -ms-transform: translate3d(-300px, 0px, 0px);
    -o-transform: translate3d(-300px, 0px, 0px);
    transform: translate3d(-300px, 0px, 0px);
}

.container {
    margin-left: 0;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform 300ms ease;
    -webkit-transition-duration: 300ms;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}
.css-profile-wrapper {
    border-radius: 100px;
    border: 5px solid #8cd600;
    width: 160px;
    height: 160px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
}

.css-profile-wrapper img{
    width: 100%;
    /*height: 100%;*/
}

.css-badge{
    display: inline-block;
    min-width: 10px;
    padding: 4px 4px;
    font-weight: 700;
    line-height: 1;
    color: #193654;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #8cd600;
    border-radius: 15px;
    min-height: 10px;
    position: absolute;
    top: -3px;
    margin-left: 3px;
    font-size: 12px;
}

.myModal .modal-content{
    color:#000;
}

.myModal .modal-content p {
    padding: 10px;
    text-align: center;
    margin-bottom: 0px !important;
}

.things h3 a{
    color: white;
    text-decoration: none;
}

.things h3 a:hover{
    color: white;
    text-decoration: none;
}

#circularG{
    position:relative;
    width:30px;
    height:30px;
    margin: auto;
    margin-top: 20px;
    display: none;
}

.circularG{
position:absolute;
background-color:#FFFFFF;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:12px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:3px;
top:3px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:12px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:3px;
top:3px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:12px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:3px;
bottom:3px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:12px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:3px;
bottom:3px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}