            <div class="row bothBorder">
                <div class="col-xs-2 css-right-nav">
                    <img src="img/rulers.png" >
                </div>
                <div class="col-xs-6 css-left-nav">
                    <p class="challenges">Take Test:</p>
                    <p class="challenges">Challenge Test 3</p>
                </div>
                <div class="col-xs-4 css-right-nav">
                    <button class="btn-start">Start</button>
                </div>
            </div>
            <div class="row bothBorder">
                <div class="col-xs-2 css-right-nav">
                    <img src="img/rulers.png" >
                </div>
                <div class="col-xs-6 css-left-nav">
                    <p class="challenges">Take Test:</p>
                    <p class="challenges">Challenge Test 3</p>
                </div>
                <div class="col-xs-4 css-right-nav">
                    <button class="btn-start">Start</button>
                </div>
            </div>
            <div class="row bothBorder">
                <div class="col-xs-2 css-right-nav">
                    <img src="img/material.png" >
                </div>
                <div class="col-xs-6 css-left-nav">
                    <p class="challenges">Download Material:</p>
                    <p class="challenges">Best Online Distance</p>
                    <p class="challenges">Learning Programme</p>
                </div>
                <div class="col-xs-4 css-right-nav">
                    <button class="btn-download">Download</button>
                </div>
            </div>
            <div class="row bothBorder">
                <div class="col-xs-2 css-right-nav">
                    <img src="img/hipchat.png" >
                </div>
                <div class="col-xs-6 css-left-nav">
                    <p class="challenges">Answer Question:</p>
                </div>
                <div class="col-xs-4 css-right-nav">
                    <button class="btn-answer">Answer</button>
                </div>
            </div>